.container{
    width: 100%;
    max-width: 1024px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.sideMenu{
    width: 240px;
    max-width: 240px !important;
    display: block;
    position: relative;
    float: left;
}