:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  :host ::ng-deep .trigger:hover {
    color: #1890ff;
  }
  
  :host ::ng-deep .logo {
    color: #9ABD49;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    height: 32px;
    background: transparent;
    margin: 16px;
  }
  
  #menuicon{
    display: inline-block !important;
    *display: inline !important;
    overflow: hidden;
  }
  #navlist{
    display: inline-block !important;
    *display: inline !important;
    overflow: hidden;
  }
  
  /* nz-layout {
    height: 100% !important;
  } */
  
  /* #routeroutlet {
    height: 100% !important;
  } */
  
  nz-content {
    height: 100% !important;
  }
  
  /* router-outlet {
    height: 100% !important;
  } */