<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span>
        <i class="anticon anticon-home"></i>
        <span class="nav-text">Inicio</span>
      </span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/addExercise">
      <span>
        <i class="anticon anticon-plus"></i>
        <span class="nav-text">Crear ejercicio</span>
      </span>
    </a>
  </li>
</ul>